.card-1 h1 {
  color: rgb(0, 0, 0);
  font-family: Georgia;
  font-weight: 180;
  text-shadow: 1cap;
  background-color: rgb(229, 137, 16);
  margin-top: 3;
  height: 1in;
  text-align: center;
  text-transform: uppercase;
  text-decoration:dashed;
  padding-top: .3in;
}

.card-1 p {
color: black;
background-color: rgb(229, 137, 16);
font-family: Impact;
font-style:unset;
font-weight: 50;
text-align: right;
margin-top: 3;
}

.card-1 .phone {
  color: rgb(255, 166, 0);
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 150%;
  margin-top: 0.1in;
}
.card-1 .email {
  color:rgb(248, 197, 139);
    font-family: Trebuchet MS;
   text-align: center;
   font-size: 130%;
   margin-top: 0.05in;
}
.card-1 .website {
  color: rgb(221, 137, 73);
    font-family: Trebuchet MS;
   text-align: center;
  font-size: 140%;
   margin-top: 0.05in;
}

