.card-1 h1 {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family:monospace;
  font-weight: 190;
  text-shadow: 1cap;
  background-color: rgb(229, 137, 16);
  background-image: url("Firefly_A\ teenage\ kid\ playing\ basketball\ in\ a\ gym\ with\ a\ team\ 557635.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode:color-burn;
  margin-top: 3;
  height: 1in;
  text-align: right;
  text-transform: uppercase;
  text-decoration:dashed;
  padding-top: .3in;
}
.card-1 .card-back,
.card-1 .card-front {
  background-color: black;
}
.card-1 p {
color: black;
background-color: rgb(219, 89, 13);
font-family: monospace;
font-style:unset;
font-weight: 100;
text-align: right;
margin-top: 3;
}

.card-1 .phone {
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 150%;
  margin-top: 0.45in;
}
.card-1 .email {
  color:rgb(219, 89, 13);
    font-family: Trebuchet MS;
   text-align: center;
   font-size: 90%;
   margin-top: 0.05in;
}
.card-1 .website {
  color: rgb(219, 89, 13);
    font-family: Trebuchet MS;
   text-align: center;
  font-size: 90%;
   margin-top: 0.05in;
}

